body{
    margin: 0px;
}
#main-banner-blog{
    width: 100%;
    height: 600px;
    background-image: url("img/banner.png");

    background-repeat: no-repeat;
    background-size:100%;
}
.space-blog{
    width: 100%;
    height: 10px;
}
#main-text-banner-blog{
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 84px;
text-align: center;

color: #FFF6E8;
width: 100%px;
height: 73px;
}
#content-blog{
    width: 100%;
    height: 1430px;
    background-image: url(img/backgroud-content.png);
    background-repeat: no-repeat;
    background-size: 100% 1706px;
}
#main-content-text-blog{
    width: 100%;
height: 56px;
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: #97511E;
text-align: center;
}
.text-content-blog{
    width: 100%;
    height: 30px;
    
font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #97511E;

}
.img-content-blog{
    width: 750px;
height: 250px;
margin-left: 25%;
}
#end-text-content-blog{
    width: 860px;
    margin-left: 22%;
height: 84px;
font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #97511E;

}
#div-slogan-blog{
    width: 100%;
height: 180px;
background: #493129;
}
#slogan-blog{
    width: 100%;
    height: 42px;
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #FFF9F9;

}
#div-location-blog{
    width: 100%;
    height: 300px;
}
.blog-clear{
    clear: both;
}
#div-text-location-blog{
    width: 45%;
    float: left;
}
#div-img-location-blog{
    width: 45%;
    float: left;
}
.div-text-location-blog{
    width: 100%;
}
#div-icon-location-blog{
    width: 20%;
float: left;
}
#div-address-location-blog{
    width: 75%;
    float: right;
}
#list-icon-location-blog{
    list-style: none;
    float: right;
}
#list-icon-location-blog li{
    width: 44px;
height: 44px;
}
#text-address-location-blog{
    list-style: none;
    padding: 0px;
    text-align: center;
}
.li-text-address-location-blog{
    list-style: none;
    font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #97511E;
text-align: center;
}