
clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.content-banner {
    height: 100%;
}
.content-banner h1{
    color: #fff;
    text-align: center;
    line-height: 100vh;
    font-size: 78px;
    font-family: WorkSansB;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
#nav-banner{
    background-image: url(../img/banner.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main-content{
    width: 70%;
    padding-right: 2%;
    border-right: #F2C09B 1px solid;
}
.p-light
{
    color: #97511E;
    font-weight: 600;
    margin-bottom: 50px;
}
.main-content h2,
.blog-relate .title h2{
    font-size: 38px;
    color: #97511E;
    margin-bottom: 40px;
    
}
.widget{
    width: 30%;
}
#content{
    width: 86%;
    margin: 6% auto;
    margin-bottom: 3%;
    padding-bottom: 4%;
    border-bottom: #F2C09B 1px solid;
}
.img-main-content {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}
.img-main-content img {
    width: 100%;
}
.main-content span {
    padding: 2px 6px;
    padding-top: 4px;
    margin: 0 5px;
    background: #F8E1C5;
    font-size: 14px;
    color: #97511E;
    font-weight: 600;
}
.adv-my-sweet{
    padding: 16px 16px 12px 16px;
    text-align: center;
    margin-left:16%;
    background: #EFD3B2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.adv-my-sweet .title{
    font-family: WorkSansB;
    font-size: 16px;
    text-align: center;
    color: #97511E;
    margin-bottom: 40px;
}
.img-row1{
    display: flex;

}
.img-adv{
    margin: 0 2%;
}
.img-row2{
    margin-top: 20px;
    padding: 0 2%;
}
.img-adv img,
.img-row2 img{
    width: 100%;
    height: 100%;
    border: #97501eb0 1px solid;
}
.form-title
{
    font-size: 17px;
    color: #97511E;
    font-family: WorkSansB;
}
.form-sign-up-quickly{
    padding: 18% 16%;
    padding-right: 0;
    text-align: center;
}
.input-inf{
    width: 100%;
    background: #F3D2BA;
    border-radius: 4px;
    border: none;
    height: 25px;
    margin-bottom: 10px;
}
.btn-sign-up{
    background: #674220;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: WorkSansB;
    border: none;
    width: 99px;
    height: 25px;
}
.blog-relate {
    width: 86%;
    margin:0 auto;
}
.post-blog{
    width: 20%;
    margin-left: 4%;
    position: relative;
    padding-bottom: 20px;
}
.list-blog{
    display: flex;
}
.post-blog img {
    width: 100%;
}
.title-blog{
    text-align: center;
    color: #97511E;
    font-family: WorkSansB;
    font-size: 16px;
}
.post-blog .p-light{
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
}
.more{
    text-decoration: none;
    color:#692d01;
    border: #692d01 1px solid;
    font-size: 13px;
    font-weight: 600;
    padding: 0 10px;
    position: absolute;
    right: 0;
    bottom: 1px;
}
.more:hover{
    color:#fff;
    border: none;
    background: #692d01;
}
#footer{
    top:50px;
}
/*responsive nè*/
@media (min-width: 1024px) and (max-width: 1200px){
    .adv-my-sweet .title {
        font-size: 12px;
        text-align: center;
        margin-bottom: 13px;
    }
    .title-blog {
        font-size: 14px;
    }
    .post-blog .p-light {
        font-size: 12px;
    }
    
}
@media (min-width: 768px) and (max-width: 1023px){
    #content {
        width: 92%;
    }
    .adv-my-sweet .title {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .adv-my-sweet {
        margin-left: 8%;
    }
    .form-sign-up-quickly {
        padding-left:8%
    }
    .title-blog {
        font-size: 10px;
    }
    .post-blog .p-light {
        font-size: 9px;
    }
    .more {
        font-size: 9px;
        padding: 0px 6px;
    }
    .blog-relate {
        width: 92%;
    }
}
@media (max-width: 767px){
    .full-width{
        width: 100%;
    }
    .half-width{
        width: 45%;
    }
    .adv-my-sweet {
        margin-top: 16px;
        margin-left: 0;
    }
    .form-sign-up-quickly{
        padding-left: 0;
    }
    .list-blog{
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .post-blog {
        margin-left: 0%;
        margin-bottom: 16px;
    }
}