#footer{
    position: relative;
    top: 590px;
    background-color: #5A3D33;
    padding: 5% 8%;
    color: #fff;
}
.contact{
    width: 30%;
}
.inf-contact,
.menu-footer ul{
    list-style-type: none;
}
.inf-contact{
    font-size: 14px;
    letter-spacing: 0.6px;

}
.menu-footer ul li{
    font-size: 22px;
    font-weight: 200;
}
.follow-me{
    width: 20%;
}
.follow-me img{
    margin-right: 10px;
}
.menu-footer{
    width: 15%;
}
.map{
    width: 35%;
}
.map iframe{
    width: 100%;
    height: 258px;
}
#footer .title-footer{
    font-size: 30px;
}