body{
    margin: 0px;
}
#menu-line{
    width: 100%;
    height: 88px;
    background-color: rgba(0, 0, 0, 0);
}
#div-left-menu-line{
    width: 30%;
    height: 88px;
    float: left;
}
#div-right-menu-line{
    width: 65%;
    height: 88px;
    float: right;
}
.menu-line-clear{
    clear: both;
}
#div-logo-left-menu-line{
    width: 30%;
    height: 88px;
    float: left;
}
#div-search-left-menu-line{
    width: 68%;
height: 88PX;
float:right;
}
#logo-left-menu-line{
    width: 88px;
    height: 88px;
    float: right;
}
#div-search-left-menu-line p{
    font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #FAF7F7;

}
#div-search-left-menu-line input::placeholder{
    color: #F8F8F8;
}
#div-search-left-menu-line input{
    width: 90%;
    border: NONE;
    border-bottom: 1px solid  #F8F8F8;
    background-color: #f8f8f800;
}
.space-menu-line{
    width: 100%;
    height: 30px;
}
#list-menu-page-line{
    width: 90%;
    list-style: none;
    float: right;
    font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FEF3F3;
}
#list-menu-page-line li{
    display: inline;
    padding-right: 5%;
}
.li-list-menu-page-line:hover{
    text-decoration-line:underline;
}
.space-mini-menu-line{
    width: 100%;
    height: 10px;
}