<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/header.css">
</head>
<body>
    <div id="first-header">
        <div class="time-open-close col">
            <p class="time-open">OPEN TIME: 8:00 am</p>
            <p class="time-close">CLOSE TIME: 8:00 pm</p>
        </div>
        <div class="btn-header col">
            <button class="btn-log-in">Đăng nhập</button>
            <button class="btn-log-out">Đăng xuất</button>
        </div>
    </div>
</body>
</html>