<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/9b42ba68a2.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="./css/header.css">
</head>
<body>
    <div id="first-header">
        <div class="time-open-close col">
            <p class="time-open">OPEN TIME: 8:00 am</p>
            <p class="time-close">CLOSE TIME: 8:00 pm</p>
        </div>
        <div class="btn-header col">
            <button class="btn-log-in">Đăng nhập</button>
            <button class="btn-log-up">Đăng kí </button>
        </div>
        <div class="clear"></div>
    </div>
    <div id="nav-banner">
        <div class="nav">
            <img src="../img/sweet-bakery (2).png" alt="" class="img-logo col">
            <form action="" id="search" class="search-cell col">
                <input class="search-input" type="text" placeholder="Bạn muốn tìm gì nè...">
                <input class="img-search" type="image" src="../img/magnifying-glass.png" alt="">
            </form>
            <div class="nav-menu col">
                <ul class="list-menu">
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="">MENU</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="">EVENT</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
            <div class="cart col">
                <img src="../img/trolley (2).png" alt="" class="img-cart">
            </div>
        </div>
    </div>
</body>
</html>