body{
    width: 100%;
    margin: 0px;
}
h2:hover{
    text-decoration-style:solid;
    text-decoration-line:underline;
}
#footer{
    width: 100%;
    height: 300px;
    background-color: #311C15;
}
#div-left-footer{
    width: 48%;
    height: 250px;
    float: left;
}
#div-right-footer{
    width: 50%;
    height: 250px;
    float: right;
}
.footer-clear{
    clear: both;
}
.div-left-footer{
    width: 100%;
    height: 250px;
}
#address-left-footer{
    width: 50%;
    height: 250px;
    float: left;
    color: #FEFEFE;
}
#img-contact-left-footer{
    width: 45%;
    height: 250px;
    float: right;
    color: #FEFEFE;
}
#address-left-footer p{
    font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #FEFEFE;
}

.space-footer{
    width: 100%;
    height: 20px;
}
#posi-address-left-footer{
    float: right;
}
.img-follow-me-left-footer{
    width: 40px;
height: 38px;
background-size: 40px;
}
#list-follow-me-left-footer{
    list-style: none;
    display: inline;
padding: 0px;
}
#list-follow-me-left-footer li{
    display: inline;
}
#posi-div-right-footer{
    width: 100%;
}
#div-menu-right-footer{
    width:30%;
    float: left;
}
#div-map-right-footer{
    width:60%;
    float: right;

}
#list-menu-right-footer{
    list-style: NONE;
    font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #FEFEFE;

}

#img-map-right-footer{
    width: 90%;
    height: 200px;
}
.li-list-menu-right-footer:hover{
    text-decoration-line:underline;
    font-size: 26px;
    color: rgb(109, 109, 241);
}